{
  "presets": [
    ["env", {
      "targets": {
        "node": 4
      }
    }]
  ],
  "env": {
    "development": {
      "plugins": ["rewire"]
    },
    "test": {
      "plugins": ["rewire"]
    }
  },
  "plugins": [
    "add-module-exports"
  ]
}