/**
 * Multiple background values being set at once
 */
.logo {
  background: red url('/public/images/logo.png') no-repeat 0 0;
  background-size: auto auto;
}

/**
 * Just an image
 */
.user {
  background-image: url('/public/images/site.png');
}

/**
 * Ignoring declarations without at-2x
 */
.avatar {
  background-image: url('/public/images/site.png');
}
@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .logo {
    background: red url('/public/images/logo@2x.png') no-repeat 0 0;
    background-size: auto auto;
  }
  .user {
    background-image: url('/public/images/site@2x.png');
  }
}
