/**
 * Multiple background values being set at once
 */
.logo {
  background: red url('/public/images/logo.png') no-repeat 0 0 at-2x;
  background-size: auto auto;
}

/**
 * Just an image
 */
.user {
  background-image: url('/public/images/site.png') at-2x;
}

/**
 * Keyword doesn't have to go at the end
 */
.user {
  background: transparent url('/public/images/site.png') at-2x repeat 0 0;
}

/**
 * Ignoring declarations without at-2x
 */
.avatar {
  background-image: url('/public/images/site.png');
}
