.Logo {
  background-image: url("../images/logo-1.png") at-2x;
}

@media (min-width: 600px) {
  .Logo {
    background-image: url("../images/logo-2.png") at-2x;
  }
}

.Logo {
  background-image: url("../images/logo-3.png") at-2x;
}
